@font-face {
  font-family: 'comp-icomoon';
  src:  url('../fonts/comp_icomoon.eot?mw4dys');
  src:  url('../fonts/comp_icomoon.eot?mw4dys#iefix') format('embedded-opentype'),
    url('../fonts/comp_icomoon.ttf?mw4dys') format('truetype'),
    url('../fonts/comp_icomoon.woff?mw4dys') format('woff'),
    url('../fonts/comp_icomoon.svg?mw4dys#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="comp-icon-"], [class*=" comp-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'comp-icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.comp-icon-switch-1:before {
  content: "\eb78";
}
.comp-icon-check-10:before {
  content: "\eb77";
}
.comp-icon-check-icon:before {
  content: "\eb71";
}
.comp-icon-drow-down-1:before {
  content: "\eb72";
}
.comp-icon-drow-up-1:before {
  content: "\eb74";
}
.comp-icon-104:before {
  content: "\e924";
}
.comp-icon-102:before {
  content: "\eb6e";
}
.comp-icon-103:before {
  content: "\eb6f";
}
.comp-icon-101:before {
  content: "\e90c";
}
.comp-icon-105:before {
  content: "\eb70";
}
.comp-icon-100:before {
  content: "\eb59";
}
.comp-icon-106:before {
  content: "\eb73";
}
.comp-icon-1:before {
  content: "\e900";
}
.comp-icon-2:before {
  content: "\e901";
}
.comp-icon-3:before {
  content: "\e902";
}
.comp-icon-4:before {
  content: "\e903";
}
.comp-icon-5:before {
  content: "\e904";
}
.comp-icon-6:before {
  content: "\e905";
}
.comp-icon-7:before {
  content: "\e906";
}
.comp-icon-8:before {
  content: "\e907";
}
.comp-icon-9:before {
  content: "\e908";
}
.comp-icon-10:before {
  content: "\e909";
}
.comp-icon-11:before {
  content: "\e90a";
}
.comp-icon-12:before {
  content: "\e90b";
}
.comp-icon-14 .path1:before {
  content: "\e90d";
  color: rgb(220, 34, 23);
}
.comp-icon-14 .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.comp-icon-15:before {
  content: "\e90f";
}
.comp-icon-16:before {
  content: "\e910";
}
.comp-icon-17:before {
  content: "\e911";
}
.comp-icon-18:before {
  content: "\e912";
}
.comp-icon-19:before {
  content: "\e913";
}
.comp-icon-20:before {
  content: "\e914";
}
.comp-icon-21:before {
  content: "\e915";
}
.comp-icon-22:before {
  content: "\e916";
}
.comp-icon-23:before {
  content: "\e917";
}
.comp-icon-24:before {
  content: "\e918";
}
.comp-icon-25:before {
  content: "\e919";
}
.comp-icon-26:before {
  content: "\e91a";
}
.comp-icon-27:before {
  content: "\e91b";
}
.comp-icon-28 .path1:before {
  content: "\e91c";
  color: rgb(135, 0, 0);
}
.comp-icon-28 .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(230, 230, 230);
}
.comp-icon-28 .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.comp-icon-28 .path4:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(189, 1, 0);
}
.comp-icon-28 .path5:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.comp-icon-29:before {
  content: "\e921";
}
.comp-icon-30:before {
  content: "\e922";
}
.comp-icon-31:before {
  content: "\e923";
}
.comp-icon-33:before {
  content: "\e925";
}
.comp-icon-34:before {
  content: "\e926";
}
.comp-icon-35:before {
  content: "\e927";
}
.comp-icon-36:before {
  content: "\e928";
}
.comp-icon-37:before {
  content: "\e929";
}
.comp-icon-38:before {
  content: "\e92a";
}
.comp-icon-39:before {
  content: "\e92b";
}
.comp-icon-40:before {
  content: "\e92c";
}
.comp-icon-41:before {
  content: "\e92d";
}
.comp-icon-42:before {
  content: "\e92e";
}
.comp-icon-43:before {
  content: "\e92f";
}
.comp-icon-44 .path1:before {
  content: "\e930";
  color: rgb(0, 123, 181);
}
.comp-icon-44 .path2:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.comp-icon-45:before {
  content: "\e932";
}
.comp-icon-46:before {
  content: "\e933";
}
.comp-icon-47:before {
  content: "\e934";
}
.comp-icon-48:before {
  content: "\e935";
}
.comp-icon-49:before {
  content: "\e936";
}
.comp-icon-50:before {
  content: "\e937";
}
.comp-icon-51:before {
  content: "\e938";
}
.comp-icon-52:before {
  content: "\e939";
}
.comp-icon-53:before {
  content: "\e93a";
}
.comp-icon-54:before {
  content: "\e93b";
}
.comp-icon-55 .path1:before {
  content: "\eb27";
  color: rgb(78, 193, 137);
}
.comp-icon-55 .path2:before {
  content: "\eb28";
  margin-left: -1em;
  color: rgb(19, 132, 218);
}
.comp-icon-55 .path3:before {
  content: "\eb29";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.comp-icon-56:before {
  content: "\eb2a";
}
.comp-icon-57:before {
  content: "\eb2b";
}
.comp-icon-58:before {
  content: "\eb2c";
}
.comp-icon-59:before {
  content: "\eb2d";
}
.comp-icon-60:before {
  content: "\eb2e";
}
.comp-icon-61:before {
  content: "\eb2f";
}
.comp-icon-62:before {
  content: "\eb30";
}
.comp-icon-63:before {
  content: "\eb31";
}
.comp-icon-64:before {
  content: "\eb32";
}
.comp-icon-65:before {
  content: "\eb33";
}
.comp-icon-66:before {
  content: "\eb34";
}
.comp-icon-67:before {
  content: "\eb35";
}
.comp-icon-68:before {
  content: "\eb36";
}
.comp-icon-benefits-21:before {
  content: "\eb37";
}
.comp-icon-benefits-22:before {
  content: "\eb38";
}
.comp-icon-design-16-px-stamp:before {
  content: "\eb39";
}
.comp-icon-benefits-16:before {
  content: "\eb3a";
}
.comp-icon-benefits-17:before {
  content: "\eb3b";
}
.comp-icon-benefits-18:before {
  content: "\eb3c";
}
.comp-icon-benefits-19:before {
  content: "\eb3d";
}
.comp-icon-benefits-20:before {
  content: "\eb3e";
}
.comp-icon-benefits-12:before {
  content: "\eb3f";
}
.comp-icon-benefits-13:before {
  content: "\eb40";
}
.comp-icon-benefits-14:before {
  content: "\eb41";
}
.comp-icon-benefits-15:before {
  content: "\eb42";
}
.comp-icon-benefits-11:before {
  content: "\eb43";
}
.comp-icon-benefits-7:before {
  content: "\eb44";
}
.comp-icon-benefits-8:before {
  content: "\eb45";
}
.comp-icon-benefits-9:before {
  content: "\eb46";
}
.comp-icon-benefits-10:before {
  content: "\eb47";
}
.comp-icon-benefits-6:before {
  content: "\eb48";
}
.comp-icon-benefits-2:before {
  content: "\eb49";
}
.comp-icon-benefits-3:before {
  content: "\eb4a";
}
.comp-icon-benefits-4:before {
  content: "\eb4b";
}
.comp-icon-benefits-5:before {
  content: "\eb4c";
}
.comp-icon-benefits-1:before {
  content: "\eb4d";
}
.comp-icon-69:before {
  content: "\eb4e";
}
.comp-icon-70:before {
  content: "\eb4f";
}
.comp-icon-71:before {
  content: "\eb50";
}
.comp-icon-72:before {
  content: "\eb51";
}
.comp-icon-73:before {
  content: "\eb52";
}
.comp-icon-74:before {
  content: "\eb53";
}
.comp-icon-75:before {
  content: "\eb54";
}
.comp-icon-76:before {
  content: "\eb55";
}
.comp-icon-77:before {
  content: "\eb56";
}
.comp-icon-78:before {
  content: "\eb57";
}
.comp-icon-79:before {
  content: "\eb58";
}
.comp-icon-80:before {
  content: "\eb5a";
}
.comp-icon-81:before {
  content: "\eb5b";
}
.comp-icon-82:before {
  content: "\eb5c";
}
.comp-icon-83:before {
  content: "\eb5d";
}
.comp-icon-84:before {
  content: "\eb5e";
}
.comp-icon-85:before {
  content: "\eb5f";
}
.comp-icon-86:before {
  content: "\eb60";
}
.comp-icon-87:before {
  content: "\eb61";
}
.comp-icon-88:before {
  content: "\eb62";
}
.comp-icon-89:before {
  content: "\eb63";
}
.comp-icon-90:before {
  content: "\eb64";
}
.comp-icon-91:before {
  content: "\eb65";
}
.comp-icon-92:before {
  content: "\eb66";
}
.comp-icon-93:before {
  content: "\eb67";
}
.comp-icon-94:before {
  content: "\eb68";
}
.comp-icon-95:before {
  content: "\eb69";
}
.comp-icon-96:before {
  content: "\eb6a";
}
.comp-icon-97:before {
  content: "\eb6b";
}
.comp-icon-98:before {
  content: "\eb6c";
}
.comp-icon-99:before {
  content: "\eb6d";
}
.comp-icon-home:before {
  content: "\e93c";
}
.comp-icon-home2:before {
  content: "\e93d";
}
.comp-icon-home3:before {
  content: "\e93e";
}
.comp-icon-office:before {
  content: "\e93f";
}
.comp-icon-newspaper:before {
  content: "\e940";
}
.comp-icon-pencil:before {
  content: "\e941";
}
.comp-icon-pencil2:before {
  content: "\e942";
}
.comp-icon-quill:before {
  content: "\e943";
}
.comp-icon-pen:before {
  content: "\e944";
}
.comp-icon-blog:before {
  content: "\e945";
}
.comp-icon-eyedropper:before {
  content: "\e946";
}
.comp-icon-droplet:before {
  content: "\e947";
}
.comp-icon-paint-format:before {
  content: "\e948";
}
.comp-icon-image:before {
  content: "\e949";
}
.comp-icon-images:before {
  content: "\e94a";
}
.comp-icon-camera:before {
  content: "\e94b";
}
.comp-icon-headphones:before {
  content: "\e94c";
}
.comp-icon-music:before {
  content: "\e94d";
}
.comp-icon-play:before {
  content: "\e94e";
}
.comp-icon-film:before {
  content: "\e94f";
}
.comp-icon-video-camera:before {
  content: "\e950";
}
.comp-icon-dice:before {
  content: "\e951";
}
.comp-icon-pacman:before {
  content: "\e952";
}
.comp-icon-spades:before {
  content: "\e953";
}
.comp-icon-clubs:before {
  content: "\e954";
}
.comp-icon-diamonds:before {
  content: "\e955";
}
.comp-icon-bullhorn:before {
  content: "\e956";
}
.comp-icon-connection:before {
  content: "\e957";
}
.comp-icon-podcast:before {
  content: "\e958";
}
.comp-icon-feed:before {
  content: "\e959";
}
.comp-icon-mic:before {
  content: "\e95a";
}
.comp-icon-book:before {
  content: "\e95b";
}
.comp-icon-books:before {
  content: "\e95c";
}
.comp-icon-library:before {
  content: "\e95d";
}
.comp-icon-file-text:before {
  content: "\e95e";
}
.comp-icon-profile:before {
  content: "\e95f";
}
.comp-icon-file-empty:before {
  content: "\e960";
}
.comp-icon-files-empty:before {
  content: "\e961";
}
.comp-icon-file-text2:before {
  content: "\e962";
}
.comp-icon-file-picture:before {
  content: "\e963";
}
.comp-icon-file-music:before {
  content: "\e964";
}
.comp-icon-file-play:before {
  content: "\e965";
}
.comp-icon-file-video:before {
  content: "\e966";
}
.comp-icon-file-zip:before {
  content: "\e967";
}
.comp-icon-copy:before {
  content: "\e968";
}
.comp-icon-paste:before {
  content: "\e969";
}
.comp-icon-stack:before {
  content: "\e96a";
}
.comp-icon-folder:before {
  content: "\e96b";
}
.comp-icon-folder-open:before {
  content: "\e96c";
}
.comp-icon-folder-plus:before {
  content: "\e96d";
}
.comp-icon-folder-minus:before {
  content: "\e96e";
}
.comp-icon-folder-download:before {
  content: "\e96f";
}
.comp-icon-folder-upload:before {
  content: "\e970";
}
.comp-icon-price-tag:before {
  content: "\e971";
}
.comp-icon-price-tags:before {
  content: "\e972";
}
.comp-icon-barcode:before {
  content: "\e973";
}
.comp-icon-qrcode:before {
  content: "\e974";
}
.comp-icon-ticket:before {
  content: "\e975";
}
.comp-icon-cart:before {
  content: "\e976";
}
.comp-icon-coin-dollar:before {
  content: "\e977";
}
.comp-icon-coin-euro:before {
  content: "\e978";
}
.comp-icon-coin-pound:before {
  content: "\e979";
}
.comp-icon-coin-yen:before {
  content: "\e97a";
}
.comp-icon-credit-card:before {
  content: "\e97b";
}
.comp-icon-calculator:before {
  content: "\e97c";
}
.comp-icon-lifebuoy:before {
  content: "\e97d";
}
.comp-icon-phone2:before {
  content: "\e97e";
}
.comp-icon-phone-hang-up:before {
  content: "\e97f";
}
.comp-icon-address-book:before {
  content: "\e980";
}
.comp-icon-envelop:before {
  content: "\e981";
}
.comp-icon-pushpin:before {
  content: "\e982";
}
.comp-icon-location3:before {
  content: "\e983";
}
.comp-icon-location2:before {
  content: "\e984";
}
.comp-icon-compass:before {
  content: "\e985";
}
.comp-icon-compass2:before {
  content: "\e986";
}
.comp-icon-map:before {
  content: "\e987";
}
.comp-icon-map2:before {
  content: "\e988";
}
.comp-icon-history:before {
  content: "\e989";
}
.comp-icon-clock:before {
  content: "\e98a";
}
.comp-icon-clock2:before {
  content: "\e98b";
}
.comp-icon-alarm:before {
  content: "\e98c";
}
.comp-icon-bell2:before {
  content: "\e98d";
}
.comp-icon-stopwatch:before {
  content: "\e98e";
}
.comp-icon-calendar2:before {
  content: "\e98f";
}
.comp-icon-printer:before {
  content: "\e990";
}
.comp-icon-keyboard:before {
  content: "\e991";
}
.comp-icon-display:before {
  content: "\e992";
}
.comp-icon-laptop:before {
  content: "\e993";
}
.comp-icon-mobile:before {
  content: "\e994";
}
.comp-icon-mobile2:before {
  content: "\e995";
}
.comp-icon-tablet:before {
  content: "\e996";
}
.comp-icon-tv:before {
  content: "\e997";
}
.comp-icon-drawer:before {
  content: "\e998";
}
.comp-icon-drawer2:before {
  content: "\e999";
}
.comp-icon-box-add:before {
  content: "\e99a";
}
.comp-icon-box-remove:before {
  content: "\e99b";
}
.comp-icon-download:before {
  content: "\e99c";
}
.comp-icon-upload4:before {
  content: "\e99d";
}
.comp-icon-floppy-disk:before {
  content: "\e99e";
}
.comp-icon-drive:before {
  content: "\e99f";
}
.comp-icon-database:before {
  content: "\e9a0";
}
.comp-icon-undo:before {
  content: "\e9a1";
}
.comp-icon-redo:before {
  content: "\e9a2";
}
.comp-icon-undo2:before {
  content: "\e9a3";
}
.comp-icon-redo2:before {
  content: "\e9a4";
}
.comp-icon-forward:before {
  content: "\e9a5";
}
.comp-icon-reply:before {
  content: "\e9a6";
}
.comp-icon-bubble:before {
  content: "\e9a7";
}
.comp-icon-bubbles:before {
  content: "\e9a8";
}
.comp-icon-bubbles2:before {
  content: "\e9a9";
}
.comp-icon-bubble2:before {
  content: "\e9aa";
}
.comp-icon-bubbles3:before {
  content: "\e9ab";
}
.comp-icon-bubbles4:before {
  content: "\e9ac";
}
.comp-icon-user2:before {
  content: "\e9ad";
}
.comp-icon-users:before {
  content: "\e9ae";
}
.comp-icon-user-plus:before {
  content: "\e9af";
}
.comp-icon-user-minus:before {
  content: "\e9b0";
}
.comp-icon-user-check:before {
  content: "\e9b1";
}
.comp-icon-user-tie:before {
  content: "\e9b2";
}
.comp-icon-quotes-left:before {
  content: "\e9b3";
}
.comp-icon-quotes-right:before {
  content: "\e9b4";
}
.comp-icon-hour-glass:before {
  content: "\e9b5";
}
.comp-icon-spinner:before {
  content: "\e9b6";
}
.comp-icon-spinner2:before {
  content: "\e9b7";
}
.comp-icon-spinner3:before {
  content: "\e9b8";
}
.comp-icon-spinner4:before {
  content: "\e9b9";
}
.comp-icon-spinner5:before {
  content: "\e9ba";
}
.comp-icon-spinner6:before {
  content: "\e9bb";
}
.comp-icon-spinner7:before {
  content: "\e9bc";
}
.comp-icon-spinner8:before {
  content: "\e9bd";
}
.comp-icon-spinner9:before {
  content: "\e9be";
}
.comp-icon-spinner10:before {
  content: "\e9bf";
}
.comp-icon-spinner11:before {
  content: "\e9c0";
}
.comp-icon-binoculars:before {
  content: "\e9c1";
}
.comp-icon-search2:before {
  content: "\e9c2";
}
.comp-icon-zoom-in:before {
  content: "\e9c3";
}
.comp-icon-zoom-out:before {
  content: "\e9c4";
}
.comp-icon-enlarge:before {
  content: "\e9c5";
}
.comp-icon-shrink:before {
  content: "\e9c6";
}
.comp-icon-enlarge2:before {
  content: "\e9c7";
}
.comp-icon-shrink2:before {
  content: "\e9c8";
}
.comp-icon-key:before {
  content: "\e9c9";
}
.comp-icon-key2:before {
  content: "\e9ca";
}
.comp-icon-lock:before {
  content: "\e9cb";
}
.comp-icon-unlocked:before {
  content: "\e9cc";
}
.comp-icon-wrench:before {
  content: "\e9cd";
}
.comp-icon-equalizer:before {
  content: "\e9ce";
}
.comp-icon-equalizer2:before {
  content: "\e9cf";
}
.comp-icon-cog:before {
  content: "\e9d0";
}
.comp-icon-cogs:before {
  content: "\e9d1";
}
.comp-icon-hammer:before {
  content: "\e9d2";
}
.comp-icon-magic-wand:before {
  content: "\e9d3";
}
.comp-icon-aid-kit:before {
  content: "\e9d4";
}
.comp-icon-bug:before {
  content: "\e9d5";
}
.comp-icon-pie-chart:before {
  content: "\e9d6";
}
.comp-icon-stats-dots:before {
  content: "\e9d7";
}
.comp-icon-stats-bars:before {
  content: "\e9d8";
}
.comp-icon-stats-bars2:before {
  content: "\e9d9";
}
.comp-icon-trophy:before {
  content: "\e9da";
}
.comp-icon-gift:before {
  content: "\e9db";
}
.comp-icon-glass:before {
  content: "\e9dc";
}
.comp-icon-glass2:before {
  content: "\e9dd";
}
.comp-icon-mug:before {
  content: "\e9de";
}
.comp-icon-spoon-knife:before {
  content: "\e9df";
}
.comp-icon-leaf:before {
  content: "\e9e0";
}
.comp-icon-rocket:before {
  content: "\e9e1";
}
.comp-icon-meter:before {
  content: "\e9e2";
}
.comp-icon-meter2:before {
  content: "\e9e3";
}
.comp-icon-hammer2:before {
  content: "\e9e4";
}
.comp-icon-fire:before {
  content: "\e9e5";
}
.comp-icon-lab:before {
  content: "\e9e6";
}
.comp-icon-magnet:before {
  content: "\e9e7";
}
.comp-icon-bin:before {
  content: "\e9e8";
}
.comp-icon-bin2:before {
  content: "\e9e9";
}
.comp-icon-briefcase2:before {
  content: "\e9ea";
}
.comp-icon-airplane:before {
  content: "\e9eb";
}
.comp-icon-truck:before {
  content: "\e9ec";
}
.comp-icon-road:before {
  content: "\e9ed";
}
.comp-icon-accessibility:before {
  content: "\e9ee";
}
.comp-icon-target:before {
  content: "\e9ef";
}
.comp-icon-shield:before {
  content: "\e9f0";
}
.comp-icon-power:before {
  content: "\e9f1";
}
.comp-icon-switch:before {
  content: "\e9f2";
}
.comp-icon-power-cord:before {
  content: "\e9f3";
}
.comp-icon-clipboard:before {
  content: "\e9f4";
}
.comp-icon-list-numbered:before {
  content: "\e9f5";
}
.comp-icon-list:before {
  content: "\e9f6";
}
.comp-icon-list2:before {
  content: "\e9f7";
}
.comp-icon-tree:before {
  content: "\e9f8";
}
.comp-icon-menu2:before {
  content: "\e9f9";
}
.comp-icon-menu22:before {
  content: "\e9fa";
}
.comp-icon-menu3:before {
  content: "\e9fb";
}
.comp-icon-menu4:before {
  content: "\e9fc";
}
.comp-icon-cloud:before {
  content: "\e9fd";
}
.comp-icon-cloud-download:before {
  content: "\e9fe";
}
.comp-icon-cloud-upload:before {
  content: "\e9ff";
}
.comp-icon-cloud-check:before {
  content: "\ea00";
}
.comp-icon-download2:before {
  content: "\ea01";
}
.comp-icon-upload2:before {
  content: "\ea02";
}
.comp-icon-download3:before {
  content: "\ea03";
}
.comp-icon-upload3:before {
  content: "\ea04";
}
.comp-icon-sphere:before {
  content: "\ea05";
}
.comp-icon-earth:before {
  content: "\ea06";
}
.comp-icon-link2:before {
  content: "\ea07";
}
.comp-icon-flag:before {
  content: "\ea08";
}
.comp-icon-attachment:before {
  content: "\ea09";
}
.comp-icon-eye:before {
  content: "\ea0a";
}
.comp-icon-eye-plus:before {
  content: "\ea0b";
}
.comp-icon-eye-minus:before {
  content: "\ea0c";
}
.comp-icon-eye-blocked:before {
  content: "\ea0d";
}
.comp-icon-bookmark:before {
  content: "\ea0e";
}
.comp-icon-bookmarks:before {
  content: "\ea0f";
}
.comp-icon-sun:before {
  content: "\ea10";
}
.comp-icon-contrast:before {
  content: "\ea11";
}
.comp-icon-brightness-contrast:before {
  content: "\ea12";
}
.comp-icon-star-empty:before {
  content: "\ea13";
}
.comp-icon-star-half:before {
  content: "\ea14";
}
.comp-icon-star-full:before {
  content: "\ea15";
}
.comp-icon-heart:before {
  content: "\ea16";
}
.comp-icon-heart-broken:before {
  content: "\ea17";
}
.comp-icon-man:before {
  content: "\ea18";
}
.comp-icon-woman:before {
  content: "\ea19";
}
.comp-icon-man-woman:before {
  content: "\ea1a";
}
.comp-icon-happy:before {
  content: "\ea1b";
}
.comp-icon-happy2:before {
  content: "\ea1c";
}
.comp-icon-smile:before {
  content: "\ea1d";
}
.comp-icon-smile2:before {
  content: "\ea1e";
}
.comp-icon-tongue:before {
  content: "\ea1f";
}
.comp-icon-tongue2:before {
  content: "\ea20";
}
.comp-icon-sad:before {
  content: "\ea21";
}
.comp-icon-sad2:before {
  content: "\ea22";
}
.comp-icon-wink:before {
  content: "\ea23";
}
.comp-icon-wink2:before {
  content: "\ea24";
}
.comp-icon-grin:before {
  content: "\ea25";
}
.comp-icon-grin2:before {
  content: "\ea26";
}
.comp-icon-cool:before {
  content: "\ea27";
}
.comp-icon-cool2:before {
  content: "\ea28";
}
.comp-icon-angry:before {
  content: "\ea29";
}
.comp-icon-angry2:before {
  content: "\ea2a";
}
.comp-icon-evil:before {
  content: "\ea2b";
}
.comp-icon-evil2:before {
  content: "\ea2c";
}
.comp-icon-shocked:before {
  content: "\ea2d";
}
.comp-icon-shocked2:before {
  content: "\ea2e";
}
.comp-icon-baffled:before {
  content: "\ea2f";
}
.comp-icon-baffled2:before {
  content: "\ea30";
}
.comp-icon-confused:before {
  content: "\ea31";
}
.comp-icon-confused2:before {
  content: "\ea32";
}
.comp-icon-neutral:before {
  content: "\ea33";
}
.comp-icon-neutral2:before {
  content: "\ea34";
}
.comp-icon-hipster:before {
  content: "\ea35";
}
.comp-icon-hipster2:before {
  content: "\ea36";
}
.comp-icon-wondering:before {
  content: "\ea37";
}
.comp-icon-wondering2:before {
  content: "\ea38";
}
.comp-icon-sleepy:before {
  content: "\ea39";
}
.comp-icon-sleepy2:before {
  content: "\ea3a";
}
.comp-icon-frustrated:before {
  content: "\ea3b";
}
.comp-icon-frustrated2:before {
  content: "\ea3c";
}
.comp-icon-crying:before {
  content: "\ea3d";
}
.comp-icon-crying2:before {
  content: "\ea3e";
}
.comp-icon-point-up:before {
  content: "\ea3f";
}
.comp-icon-point-right:before {
  content: "\ea40";
}
.comp-icon-point-down:before {
  content: "\ea41";
}
.comp-icon-point-left:before {
  content: "\ea42";
}
.comp-icon-warning:before {
  content: "\ea43";
}
.comp-icon-notification:before {
  content: "\ea44";
}
.comp-icon-question:before {
  content: "\ea45";
}
.comp-icon-plus:before {
  content: "\ea46";
}
.comp-icon-minus:before {
  content: "\ea47";
}
.comp-icon-info2:before {
  content: "\ea48";
}
.comp-icon-cancel-circle:before {
  content: "\ea49";
}
.comp-icon-blocked:before {
  content: "\ea4a";
}
.comp-icon-cross:before {
  content: "\ea4b";
}
.comp-icon-checkmark:before {
  content: "\ea4c";
}
.comp-icon-checkmark2:before {
  content: "\ea4d";
}
.comp-icon-spell-check:before {
  content: "\ea4e";
}
.comp-icon-enter:before {
  content: "\ea4f";
}
.comp-icon-exit:before {
  content: "\ea50";
}
.comp-icon-play2:before {
  content: "\ea51";
}
.comp-icon-pause:before {
  content: "\ea52";
}
.comp-icon-stop:before {
  content: "\ea53";
}
.comp-icon-previous:before {
  content: "\ea54";
}
.comp-icon-next:before {
  content: "\ea55";
}
.comp-icon-backward:before {
  content: "\ea56";
}
.comp-icon-forward2:before {
  content: "\ea57";
}
.comp-icon-play3:before {
  content: "\ea58";
}
.comp-icon-pause2:before {
  content: "\ea59";
}
.comp-icon-stop2:before {
  content: "\ea5a";
}
.comp-icon-backward2:before {
  content: "\ea5b";
}
.comp-icon-forward3:before {
  content: "\ea5c";
}
.comp-icon-first:before {
  content: "\ea5d";
}
.comp-icon-last:before {
  content: "\ea5e";
}
.comp-icon-previous2:before {
  content: "\ea5f";
}
.comp-icon-next2:before {
  content: "\ea60";
}
.comp-icon-eject:before {
  content: "\ea61";
}
.comp-icon-volume-high:before {
  content: "\ea62";
}
.comp-icon-volume-medium:before {
  content: "\ea63";
}
.comp-icon-volume-low:before {
  content: "\ea64";
}
.comp-icon-volume-mute:before {
  content: "\ea65";
}
.comp-icon-volume-mute2:before {
  content: "\ea66";
}
.comp-icon-volume-increase:before {
  content: "\ea67";
}
.comp-icon-volume-decrease:before {
  content: "\ea68";
}
.comp-icon-loop:before {
  content: "\ea69";
}
.comp-icon-loop2:before {
  content: "\ea6a";
}
.comp-icon-infinite:before {
  content: "\ea6b";
}
.comp-icon-shuffle:before {
  content: "\ea6c";
}
.comp-icon-arrow-up-left:before {
  content: "\ea6d";
}
.comp-icon-arrow-up:before {
  content: "\ea6e";
}
.comp-icon-arrow-up-right:before {
  content: "\ea6f";
}
.comp-icon-arrow-right3:before {
  content: "\ea70";
}
.comp-icon-arrow-down-right:before {
  content: "\ea71";
}
.comp-icon-arrow-down:before {
  content: "\ea72";
}
.comp-icon-arrow-down-left:before {
  content: "\ea73";
}
.comp-icon-arrow-left3:before {
  content: "\ea74";
}
.comp-icon-arrow-up-left2:before {
  content: "\ea75";
}
.comp-icon-arrow-up2:before {
  content: "\ea76";
}
.comp-icon-arrow-up-right2:before {
  content: "\ea77";
}
.comp-icon-arrow-right2:before {
  content: "\ea78";
}
.comp-icon-arrow-down-right2:before {
  content: "\ea79";
}
.comp-icon-arrow-down2:before {
  content: "\ea7a";
}
.comp-icon-arrow-down-left2:before {
  content: "\ea7b";
}
.comp-icon-arrow-left2:before {
  content: "\ea7c";
}
.comp-icon-circle-up:before {
  content: "\ea7d";
}
.comp-icon-circle-right:before {
  content: "\ea7e";
}
.comp-icon-circle-down:before {
  content: "\ea7f";
}
.comp-icon-circle-left:before {
  content: "\ea80";
}
.comp-icon-tab:before {
  content: "\ea81";
}
.comp-icon-move-up:before {
  content: "\ea82";
}
.comp-icon-move-down:before {
  content: "\ea83";
}
.comp-icon-sort-alpha-asc:before {
  content: "\ea84";
}
.comp-icon-sort-alpha-desc:before {
  content: "\ea85";
}
.comp-icon-sort-numeric-asc:before {
  content: "\ea86";
}
.comp-icon-sort-numberic-desc:before {
  content: "\ea87";
}
.comp-icon-sort-amount-asc:before {
  content: "\ea88";
}
.comp-icon-sort-amount-desc:before {
  content: "\ea89";
}
.comp-icon-command:before {
  content: "\ea8a";
}
.comp-icon-shift:before {
  content: "\ea8b";
}
.comp-icon-ctrl:before {
  content: "\ea8c";
}
.comp-icon-opt:before {
  content: "\ea8d";
}
.comp-icon-checkbox-checked:before {
  content: "\ea8e";
}
.comp-icon-checkbox-unchecked:before {
  content: "\ea8f";
}
.comp-icon-radio-checked:before {
  content: "\ea90";
}
.comp-icon-radio-checked2:before {
  content: "\ea91";
}
.comp-icon-radio-unchecked:before {
  content: "\ea92";
}
.comp-icon-crop:before {
  content: "\ea93";
}
.comp-icon-make-group:before {
  content: "\ea94";
}
.comp-icon-ungroup:before {
  content: "\ea95";
}
.comp-icon-scissors:before {
  content: "\ea96";
}
.comp-icon-filter:before {
  content: "\ea97";
}
.comp-icon-font:before {
  content: "\ea98";
}
.comp-icon-ligature:before {
  content: "\ea99";
}
.comp-icon-ligature2:before {
  content: "\ea9a";
}
.comp-icon-text-height:before {
  content: "\ea9b";
}
.comp-icon-text-width:before {
  content: "\ea9c";
}
.comp-icon-font-size:before {
  content: "\ea9d";
}
.comp-icon-bold:before {
  content: "\ea9e";
}
.comp-icon-underline:before {
  content: "\ea9f";
}
.comp-icon-italic:before {
  content: "\eaa0";
}
.comp-icon-strikethrough:before {
  content: "\eaa1";
}
.comp-icon-omega:before {
  content: "\eaa2";
}
.comp-icon-sigma:before {
  content: "\eaa3";
}
.comp-icon-page-break:before {
  content: "\eaa4";
}
.comp-icon-superscript:before {
  content: "\eaa5";
}
.comp-icon-subscript:before {
  content: "\eaa6";
}
.comp-icon-superscript2:before {
  content: "\eaa7";
}
.comp-icon-subscript2:before {
  content: "\eaa8";
}
.comp-icon-text-color:before {
  content: "\eaa9";
}
.comp-icon-pagebreak:before {
  content: "\eaaa";
}
.comp-icon-clear-formatting:before {
  content: "\eaab";
}
.comp-icon-table:before {
  content: "\eaac";
}
.comp-icon-table2:before {
  content: "\eaad";
}
.comp-icon-insert-template:before {
  content: "\eaae";
}
.comp-icon-pilcrow:before {
  content: "\eaaf";
}
.comp-icon-ltr:before {
  content: "\eab0";
}
.comp-icon-rtl:before {
  content: "\eab1";
}
.comp-icon-section:before {
  content: "\eab2";
}
.comp-icon-paragraph-left:before {
  content: "\eab3";
}
.comp-icon-paragraph-center:before {
  content: "\eab4";
}
.comp-icon-paragraph-right:before {
  content: "\eab5";
}
.comp-icon-paragraph-justify:before {
  content: "\eab6";
}
.comp-icon-indent-increase:before {
  content: "\eab7";
}
.comp-icon-indent-decrease:before {
  content: "\eab8";
}
.comp-icon-share:before {
  content: "\eab9";
}
.comp-icon-new-tab:before {
  content: "\eaba";
}
.comp-icon-embed:before {
  content: "\eabb";
}
.comp-icon-embed2:before {
  content: "\eabc";
}
.comp-icon-terminal:before {
  content: "\eabd";
}
.comp-icon-share2:before {
  content: "\eabe";
}
.comp-icon-mail:before {
  content: "\eabf";
}
.comp-icon-mail2:before {
  content: "\eac0";
}
.comp-icon-mail3:before {
  content: "\eac1";
}
.comp-icon-mail4:before {
  content: "\eac2";
}
.comp-icon-amazon:before {
  content: "\eac3";
}
.comp-icon-google:before {
  content: "\eac4";
}
.comp-icon-google2:before {
  content: "\eac5";
}
.comp-icon-google3:before {
  content: "\eac6";
}
.comp-icon-google-plus:before {
  content: "\eac7";
}
.comp-icon-google-plus2:before {
  content: "\eac8";
}
.comp-icon-google-plus3:before {
  content: "\eac9";
}
.comp-icon-hangouts:before {
  content: "\eaca";
}
.comp-icon-google-drive:before {
  content: "\eacb";
}
.comp-icon-facebook:before {
  content: "\eacc";
}
.comp-icon-facebook2:before {
  content: "\eacd";
}
.comp-icon-instagram:before {
  content: "\eace";
}
.comp-icon-whatsapp:before {
  content: "\eacf";
}
.comp-icon-spotify:before {
  content: "\ead0";
}
.comp-icon-telegram:before {
  content: "\ead1";
}
.comp-icon-twitter:before {
  content: "\ead2";
}
.comp-icon-vine:before {
  content: "\ead3";
}
.comp-icon-vk:before {
  content: "\ead4";
}
.comp-icon-renren:before {
  content: "\ead5";
}
.comp-icon-sina-weibo:before {
  content: "\ead6";
}
.comp-icon-rss:before {
  content: "\ead7";
}
.comp-icon-rss2:before {
  content: "\ead8";
}
.comp-icon-youtube:before {
  content: "\ead9";
}
.comp-icon-youtube2:before {
  content: "\eada";
}
.comp-icon-twitch:before {
  content: "\eadb";
}
.comp-icon-vimeo:before {
  content: "\eadc";
}
.comp-icon-vimeo2:before {
  content: "\eadd";
}
.comp-icon-lanyrd:before {
  content: "\eade";
}
.comp-icon-flickr:before {
  content: "\eadf";
}
.comp-icon-flickr2:before {
  content: "\eae0";
}
.comp-icon-flickr3:before {
  content: "\eae1";
}
.comp-icon-flickr4:before {
  content: "\eae2";
}
.comp-icon-dribbble:before {
  content: "\eae3";
}
.comp-icon-behance:before {
  content: "\eae4";
}
.comp-icon-behance2:before {
  content: "\eae5";
}
.comp-icon-deviantart:before {
  content: "\eae6";
}
.comp-icon-500px:before {
  content: "\eae7";
}
.comp-icon-steam:before {
  content: "\eae8";
}
.comp-icon-steam2:before {
  content: "\eae9";
}
.comp-icon-dropbox:before {
  content: "\eaea";
}
.comp-icon-onedrive:before {
  content: "\eaeb";
}
.comp-icon-github:before {
  content: "\eaec";
}
.comp-icon-npm:before {
  content: "\eaed";
}
.comp-icon-basecamp:before {
  content: "\eaee";
}
.comp-icon-trello:before {
  content: "\eaef";
}
.comp-icon-wordpress:before {
  content: "\eaf0";
}
.comp-icon-joomla:before {
  content: "\eaf1";
}
.comp-icon-ello:before {
  content: "\eaf2";
}
.comp-icon-blogger:before {
  content: "\eaf3";
}
.comp-icon-blogger2:before {
  content: "\eaf4";
}
.comp-icon-tumblr:before {
  content: "\eaf5";
}
.comp-icon-tumblr2:before {
  content: "\eaf6";
}
.comp-icon-yahoo:before {
  content: "\eaf7";
}
.comp-icon-yahoo2:before {
  content: "\eaf8";
}
.comp-icon-tux:before {
  content: "\eaf9";
}
.comp-icon-appleinc:before {
  content: "\eafa";
}
.comp-icon-finder:before {
  content: "\eafb";
}
.comp-icon-android:before {
  content: "\eafc";
}
.comp-icon-windows:before {
  content: "\eafd";
}
.comp-icon-windows8:before {
  content: "\eafe";
}
.comp-icon-soundcloud:before {
  content: "\eaff";
}
.comp-icon-soundcloud2:before {
  content: "\eb00";
}
.comp-icon-skype2:before {
  content: "\eb01";
}
.comp-icon-reddit:before {
  content: "\eb02";
}
.comp-icon-hackernews:before {
  content: "\eb03";
}
.comp-icon-wikipedia:before {
  content: "\eb04";
}
.comp-icon-linkedin:before {
  content: "\eb05";
}
.comp-icon-linkedin2:before {
  content: "\eb06";
}
.comp-icon-lastfm:before {
  content: "\eb07";
}
.comp-icon-lastfm2:before {
  content: "\eb08";
}
.comp-icon-delicious:before {
  content: "\eb09";
}
.comp-icon-stumbleupon:before {
  content: "\eb0a";
}
.comp-icon-stumbleupon2:before {
  content: "\eb0b";
}
.comp-icon-stackoverflow:before {
  content: "\eb0c";
}
.comp-icon-pinterest:before {
  content: "\eb0d";
}
.comp-icon-pinterest2:before {
  content: "\eb0e";
}
.comp-icon-xing:before {
  content: "\eb0f";
}
.comp-icon-xing2:before {
  content: "\eb10";
}
.comp-icon-flattr:before {
  content: "\eb11";
}
.comp-icon-foursquare:before {
  content: "\eb12";
}
.comp-icon-yelp:before {
  content: "\eb13";
}
.comp-icon-paypal:before {
  content: "\eb14";
}
.comp-icon-chrome:before {
  content: "\eb15";
}
.comp-icon-firefox:before {
  content: "\eb16";
}
.comp-icon-IE:before {
  content: "\eb17";
}
.comp-icon-edge:before {
  content: "\eb18";
}
.comp-icon-safari:before {
  content: "\eb19";
}
.comp-icon-opera:before {
  content: "\eb1a";
}
.comp-icon-file-pdf:before {
  content: "\eb1b";
}
.comp-icon-file-openoffice:before {
  content: "\eb1c";
}
.comp-icon-file-word:before {
  content: "\eb1d";
}
.comp-icon-file-excel:before {
  content: "\eb1e";
}
.comp-icon-libreoffice:before {
  content: "\eb1f";
}
.comp-icon-html-five:before {
  content: "\eb20";
}
.comp-icon-html-five2:before {
  content: "\eb21";
}
.comp-icon-css3:before {
  content: "\eb22";
}
.comp-icon-git:before {
  content: "\eb23";
}
.comp-icon-codepen:before {
  content: "\eb24";
}
.comp-icon-svg:before {
  content: "\eb25";
}
.comp-icon-IcoMoon:before {
  content: "\eb26";
}
